
@{
    ViewBag.Title = "Редактировать книгу";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@model smallpet.Models.Pet

<h2>New Pet</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Название книги")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Text, "Text")
    <br />
    @Html.EditorFor(model => model.Text)
    <br /><br />
    @Html.LabelFor(model => model.Author, "Автор")
    <br />
    @Html.EditorFor(model => model.Author)
    <br /><br />
    @Html.LabelFor(model => model.Link, "Link")
    <br />
    @Html.EditorFor(model => model.Link)
    <br /><br />
    <input type="submit" value="Добавить" />
}