
@{
    ViewBag.Title = "Редактировать книгу";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@model smallpet.Models.Pet

<h2>Pet № @Model.Id</h2>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Name, "Name")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Text, "Text")
        <br />
        @Html.EditorFor(m => m.Text)
    </p>
    <p>
        @Html.LabelFor(m => m.Author, "Author")
        <br />
        @Html.EditorFor(m => m.Author)

    </p>
    <p>
        @Html.LabelFor(m => m.Link, "Link")
        <br />
        @Html.EditorFor(m => m.Link)
    </p>
    <p><input type="submit" value="Отправить" /></p>
</fieldset>
}